a,select, input, button, select{
    text-decoration: none;
    margin: 0 1rem;
    color: #BABABB;
    border: none;
    background-color: #f8f8f8;
    font-family: 'ubuntu';
}

.display-inline{
    display: inline;
}

a:hover{
    color: #6aa0cc;
}

.navbar{
    list-style-type: none;
    position: relative;
    text-align: right;
    top: 1rem;
    width: 80%;
    margin: auto;
}

.float-left{
    float: left;
}

.outlineButton {
    background-color: #ffffff;
    color: #000000;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border: 0.25rem solid #ffffff;
}

.outlineButton:hover,.currentPageOutlineButton{
    color: #000000;
    border-color: #000000;
}

#accountBar{
    background-color: #f8f8f8;
    height: 3rem;
}

#breadCrumbs{
    height: 6rem;
    position: relative;
    top: 2rem;
}